* {
  margin: 5px;
  padding: 0; }

body {
  width: 100%; }

h1, h2 {
  text-align: center; }

#contenedor {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 6px; }

.etiquetaRoja {
  color: red;
  border: 1px;
  font-weight: bold; }

.etiquetaAmarilla {
  color: #f0d800;
  border: 1px;
  font-weight: bold; }

.etiquetaAzul {
  color: #012fd4;
  border: 1px;
  font-weight: bold; }
