* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body::before {
  display: block;
  height: 60px;
  content: ''; }

nav {
  background-color: #007acc;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly; }

.principal {
  background-color: antiquewhite;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 20px; }
  .principal h1 {
    font-size: 9rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black; }

img {
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
  cursor: default;
  transition: all 400ms ease; }
  img:hover {
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
    transform: translateY(-3%); }

@media (min-width: 768px) {
  .newsletter {
    width: 50%; } }

@media (min-width: 992px) {
  .showcase {
    height: 370px; } }
