*{
    margin: 5px;
    padding: 0;
}

body{
    width: 100%;
}

h1, h2{
    text-align: center;
}

#contenedor{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 6px;
}

.etiquetaRoja{
    color: red;
    border: 1px;
    font-weight: bold;
}

.etiquetaAmarilla{
    color: rgb(240, 216, 0);
    border: 1px;
    font-weight: bold;
}

.etiquetaAzul{
    color: rgb(1, 47, 212);
    border: 1px;
    font-weight: bold;
}

.filtro{
    display: none;
}